<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scraping Mars Mission Data</title>

    <!-- Bootstrap CSS: Use lux theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>
    
    <div class="container mt-5">

        <!-- Header -->
        <div class='header text-center'>
            <h1 class= 'display-4'>Mission to Mars</h1>
            <a class='btn btn-primary' href="/scrape">Scrape New Data</a>
        </div>


        <!-- News -->
        <div class="news mt-5">
            <h3>Latest Mars News</h3>
            <h5>{{ dict.news_title }}</h5>
            <p>
                {{ dict.news_p}}
            </p>
        </div>


        <!-- Weather & Featured Image -->
        <div class="Weather">

            <div class= "row">

                <!-- Featured Image-->
                <div class="col-12 col-md-7 mt-5">
                    <h3>Featured Image</h3>
                    <div class='text-center'>
                        <img class='featureimage' src= "{{ dict.featured_image_url }}" alt="Featured Mars Image" />
                    </div>
                </div>

                <!-- Weather -->
                <div class="col-12 col-md-5 mt-5">
                    <h3>Current Weather</h3>
                    <p>
                        {{ dict.mars_weather}}
                    </p>
                </div>
            </div>
        </div>

        <!-- Facts -->
        <div class='facts mt-5'>
            <h3>
            Mars Facts
            </h3>
            {{ dict.marsFactsHtml | safe }}
        </div>


        <!-- Hemispheres -->
        <div class='hemispheresn mt-5'>
            <h3>Mars Hemispheres</h3>

            <div class= "row">

                {% for item in dict.hemisphere_image_urls %}
                    <div class="col-12 col-md-6 mt-3 text-center">
                        <img class='featureimage' src='{{ item.img_url }}' alt='{{ item.title }}' />
                        <h5 class='mt-2'>{{ item.title }}</h5>
                    </div>
                    
                {% endfor %}

            </div>
        </div>
        
    </div>

    <!-- Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>